body {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}
#hero-image {
    background-image: url("https://cdn.coverstand.com/44494/684703/article_assets/711ca7bba5cd3735a3a15f2aee44a7986840d771.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img {
    height: 300px;
    width: 500px;
}

.gem-card {
    position: relative;
    width: 500px;
    background-color: white;
    margin-bottom: 25px;
    margin-right: 25px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-size: 18px;
}

a {
    color: rgb(45, 130, 241);
    text-decoration: underline;
}

#gem-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#random-container{
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    background-color: rgb(40, 209, 153);
    padding: 20px;
}
#random-gem .gem-card{
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.overlay-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 18%;
    opacity: 80%;
    transition: 1s ease;
}

.gem-card:hover .overlay-info {
    height: 70%;
    opacity: 80%;
}

#comments {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    word-wrap: normal;
    width: 700px;
    margin: auto;
}

#featured-comment {
    font-size: 24px;
}

#random-button, #comment-button, #new-gem-button {
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    background-color: grey;
    color: white;
    border: 2px;
    font-family: "Gill Sans", sans-serif;
}

#add-gem-form {
    line-height: 2;
}